html {
  colorscheme: moonfly;
  background: dark;
}

.status {
  row: 3;
  col: 0.05;
  height: 2;
  width: 0.3;
  color: CursorLineNr;
  align-items: left;
  justify-content: top;
}

.files {
  row: 6;
  col: 0.05;
  height: 10;
  width: 0.3;
  color: Normal;
  align-items: left;
  justify-content: top;
}

.branches {
  row: 17;
  col: 0.05;
  height: 5;
  width: 0.3;
  color: CursorLineNr;
  align-items: left;
  justify-content: top;
}

.commits {
  row: 23;
  col: 0.05;
  height: 5;
  width: 0.3;
  color: Normal;
  align-items: left;
  justify-content: top;
}

.stash {
  row: 29;
  col: 0.05;
  height: 2;
  width: 0.3;
  color: CursorLineNr;
  align-items: left;
  justify-content: top;
}

.preview {
  row: 3;
  col: 0.4;
  height: 28;
  width: 0.55;
  align-items: left;
  justify-content: top;
}
